AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_001.nii.gz
AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_002.nii.gz
AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_003.nii.gz
