AI for Medical Prognosis/env/
AI for Medical Prognosis/requirements.txt
AI for Medical Prognosis/Week 1/__pycache__/
AI for Medical Prognosis/Week 2/__pycache__/
AI for Medical Prognosis/Week 3/__pycache__/
AI for Medical Prognosis/Week 4/__pycache__/
AI for Medical Treatment/.env/
AI for Medical Treatment/requirements.txt
AI for Medical Treatment/Week 1/__pycache__/
AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_001.nii.gz
AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_002.nii.gz
AI for Medical Diagnosis/Week 3/BraTS-Data/imagesTr/BRATS_003.nii.gz
